@tailwind base;
@tailwind components;
@tailwind utilities;



tr:not(.none){
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.none{
  text-align: center;
}

.build-header{
  padding: 4px;
}

.os{
    font-size:13px
}
.download-type{
    font-weight: 300;
}

/* Hide accordion box */
.accordion-body{
    display: none;
}


/* Unhides the content part when active. Sets the height */
.accordion-body.active{
    display: block;
}

.download{
    position: relative;
}

.download::before{
content: 'v';
position: absolute;
color: #fff;
font-size: 20px;
font-weight: 300;
text-align: center;
}


/* Hamburger Menu */
.background-ham{
    background-color: #0066b8;
    padding:0 8px;
    position: relative;
    border-radius: 4px;
    z-index: 40;
}

.hamburger {
    cursor: pointer;
    width: 22px;
    height: 30px;
    transition: all 0.25s;
    position: relative;
    top: 6px;
    left: 0px;
    /* padding: 10px; */
}
  
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 22px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }


  
  